<ion-header>
  <ion-toolbar>
    <ion-title>All Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="homeRoute"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-list-header>
          <ion-label *ngIf="users.length > 0">All New Users Registration Request</ion-label>
          <ion-label *ngIf="users.length <= 0">No New Users Registration</ion-label>
        </ion-list-header>
        <ion-list>
          <ion-item *ngFor="let user of users">
            <ion-label> {{user.name}}</ion-label>
            <ion-buttons slot="end">
              <ion-button color="success" (click)="Accept(user)">
                <ion-icon slot="start" name="checkmark"></ion-icon>
               Accept
              </ion-button>
              <ion-button color="danger" (click)="Reject(user)">
                <ion-icon slot="end" name="close"></ion-icon>
               Reject
              </ion-button>
            </ion-buttons>
          </ion-item>
         
        
        </ion-list>
      </ion-list>
    </ion-col>
    <ion-col size="6"></ion-col>
  </ion-row>
</ion-grid>
</ion-content>
